Screen {
  layers: base overlay;
}

#newlineset {
  align: right middle;
}

#topbar {
  height: auto
}

#throttle-buf-group {
  width: auto
}

#output {
  height: 1fr;
}

#statusbar {
  height: auto;
  width: 1fr;
}

#data {
  padding: 0 2;
}

#sectionswitch {
  border: none;
  padding: 0 0;
  background: transparent;
}

#input {
  width: 1fr;
  /* take remaining space */
}

#send {
  width: auto;
  /* only as big as needed */
  background: #1243AF;
}

#conbtn {
  border: solid #41B53F;
  margin: 0;
  padding: 0;
  width: 20%;
  color: #41B53F;
  background: $boost;
}

#conbtn.disconnect {
  border: solid #FF4136;
  color: #FF4136;
}

CustomFooter {
  height: 1;
  dock: bottom;
  background: $panel;
  color: $text;
  padding: 0 1;
}

KeyBinding {
  width: auto;
  margin: 0 1;
}

KeyBinding .key {
  width: auto;
  color: $text;
  text-style: bold;
  margin-right: 1;
}

KeyBinding .desc {
  width: auto;
  color: $text-disabled;
}
